@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
*{
    margin: 0;
    padding: 0;
}
.body{
    max-width: 1440px;
    margin: 0 auto;
    background-color: black;
    font-family: "Inter", sans-serif;
}

/* header styles */
.header{
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 0%,
        rgba(119, 119, 119, 0.2) 50%,
        rgba(0, 0, 0, 1) 100% 
    );
    padding-top: 60px;
    color: white;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 190px;
}
.nav-bar-name{
    color: rgba(230, 83, 60, 1);
    font-size: 2.25rem;
    font-weight: 800;
    font-style: italic;
}
.nav{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    display: flex;
    padding-right: 22px;
    padding-left: 2px;
    align-items: center;
    gap: 45px;
}
.nav a{
    text-decoration: none;
    color: white;
    font-size: 1.125rem;
    font-weight: 600;
}
.nav-home{
    background-color: rgba(230, 83, 60, 1);
    padding: 8px 20px;
    border-radius: 40px;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 190px;
}
.banner-title{
    font-size: 4.875rem;
    font-weight: 900;
}
#shape{
    font-family: 'Miama', sans-serif;
    font-weight: normal;
}
.banner-description{
    color: rgba(255, 255, 255, 0.5);
    margin-top: 28px;
}
.banner-button-container{
    margin-top: 28px;
}
.banner-button-container button{
    color: white;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 16px 48px;
    border-radius: 42px;
}
.banner-btn1{
    border: none;
    background-color: rgba(230, 83, 60, 1);
}
.banner-btn2{
    background: none;
    border: 1px solid white;
}
.box-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 206px;
    height: 96px;
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    left: 720px;
    top: 520px;
    align-content: center;
}
.box-1 h4{
    font-size: 1.5rem;
}
.box-1 p{
    color: rgba(239, 237, 232, 0.65);
}
.play-btn{
    background-color: rgba(230, 83, 60, 1);
    border-radius: 100%;
    padding: 5px 10px;
}
.box-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 206px;
    height: 96px;
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    left: 1050px;
    top: 250px;
    align-content: center;
}
.box-2 h4{
    font-size: 2.5rem;
}
.box-2 p{
    font-size: 0.8125rem;
    color: rgba(255, 255, 255, 0.65);
}


/* Habits section styles */
.habits{
    color: white;
    margin: 0px 190px;
    margin-top: 100px;
}
.habits-title-container{
    text-align: center;
}
.habits-title-container h3{
    font-size: 3rem;
    font-weight: 900;
}

.habits-title-container p{
    margin-top: 14px;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
}
.habits-card-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-top: 58px;
}
.habits-card img{
    border: 4px solid rgba(255, 255, 255, 0.1);
    border-radius: 100px;
}
.habits-card h6{
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 30px;
}
.habits-card p{
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 6px;
}


/* Run an Extra Mile section styles */
.run{
    background-color: rgba(34, 34, 34, 1);
    border-radius: 18px;
    margin: 0px 190px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;
}
.run-title-container h3{
    font-size: 3rem;
    font-weight: 900;
    color: white;
}
.run-title-container p{
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 14px;
}
.run-title-container button{
    background-color: rgba(230, 83, 60, 1);
    border: none;
    border-radius: 42px;
    padding: 16px 70px;
    color: white;
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 34px;
}
.run-image-container{
    background-image: url(../images/run.jpg);
    width: 366px;
    height: 312px;
    background-position-x: 67%;
    background-position-y: 30%;
    background-size: fill;
    border-radius: 18px;
}


/* responsive for small devices */
@media screen and (max-width:576px) {
    
}