@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
*{
    margin: 0;
    padding: 0;
}
.body{
    max-width: 1440px;
    margin: 0 auto;
    background-color: black;
    font-family: "Inter", sans-serif;
}
button{
    cursor: pointer;
}

/* header styles */
.header{
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 0%,
        rgba(119, 119, 119, 0.2) 50%,
        rgba(0, 0, 0, 1) 100% 
    );
    padding-top: 60px;
    color: white;
}
.banner-container{
    width: 75%;
    margin: 0 auto;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar-name{
    color: rgba(230, 83, 60, 1);
    font-size: 2.25rem;
    font-weight: 800;
    font-style: italic;
}
.nav{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    display: flex;
    padding-right: 22px;
    padding-left: 2px;
    align-items: center;
    gap: 45px;
}
.nav a{
    text-decoration: none;
    color: white;
    font-size: 1.125rem;
    font-weight: 600;
}
.nav-home{
    background-color: rgba(230, 83, 60, 1);
    padding: 8px 20px;
    border-radius: 40px;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-title{
    font-size: 4.875rem;
    font-weight: 900;
}
#shape{
    font-family: 'Miama', sans-serif;
    font-weight: normal;
}
.banner-description{
    color: rgba(255, 255, 255, 0.5);
    margin-top: 28px;
}
.banner-button-container{
    margin-top: 28px;
}
.banner-button-container button{
    color: white;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 16px 48px;
    border-radius: 42px;
}
.banner-btn1{
    border: none;
    background-color: rgba(230, 83, 60, 1);
}
.banner-btn2{
    background: none;
    border: 1px solid white;
}
.banner-image-container{
    position: relative;
}
.box-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 206px;
    height: 96px;
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    right: 70%;
    top: 70%;
    align-content: center;
}
.box-1 h4{
    font-size: 1.5rem;
}
.box-1 p{
    color: rgba(239, 237, 232, 0.65);
}
.play-btn{
    background-color: rgba(230, 83, 60, 1);
    border-radius: 100%;
    padding: 5px 10px;
}
.box-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 206px;
    height: 96px;
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    left: 70%;
    top: 25%;
    align-content: center;
}
.box-2 h4{
    font-size: 2.5rem;
}
.box-2 p{
    font-size: 0.8125rem;
    color: rgba(255, 255, 255, 0.65);
}


/* Habits section styles */
.habits{
    color: white;
    width: 75%;
    margin: 0 auto;
    margin-top: 100px;
}
.habits-title-container{
    text-align: center;
}
.habits-title-container h3{
    font-size: 3rem;
    font-weight: 900;
}

.habits-title-container p{
    margin-top: 14px;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
}
.habits-card-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-top: 58px;
}
.habits-card img{
    border: 4px solid rgba(255, 255, 255, 0.1);
    border-radius: 100px;
}
.habits-card h6{
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 30px;
}
.habits-card p{
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 6px;
}


/* Run an Extra Mile section styles */
.run{
    background-color: rgba(34, 34, 34, 1);
    border-radius: 18px;
    width: 75%;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;
}
.run-title-container h3{
    font-size: 3rem;
    font-weight: 900;
    color: white;
}
.run-title-container p{
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 14px;
}
.run-title-container button{
    background-color: rgba(230, 83, 60, 1);
    border: none;
    border-radius: 42px;
    padding: 16px 70px;
    color: white;
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 34px;
}
.run-image-container{
    background-image: url(../images/run.jpg);
    width: 366px;
    height: 312px;
    background-position-x: 67%;
    background-position-y: 30%;
    background-size: fill;
    border-radius: 18px;
}


/* Articles and Tips section styles */
.articles-and-tips{
    color: white;
    width: 75%;
    margin: 0 auto;
    margin-top: 100px;
}
.articles-title-container h4{
    font-size: 2rem;
}
.articles-card-container{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.articles-card img{
    width: 300px;
    height: 200px;
    border-radius: 16px;
}
.articles-card a{
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 10px;
}


/* BMI Calculator section styles */
.bmi-calculator{
    margin-top: 100px;
}
.bmi-title-container{
    text-align: center;
}
.bmi-title-container h3{
    font-size: 3rem;
    font-weight: 900;
    color: white;
}
.bmi-title-container p{
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 14px;
}
.bmi-form{
    background-color: rgba(34, 34, 34, 1);
    display: flex;
    justify-content: space-between;
    padding: 50px 190px;
    margin-top: 80px;
}
.chart table, td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    padding: 10px 20px;
}
#chart-tr td{
    color: white;
    font-size: 1rem;
    font-weight: 500;
}
.chart{
    width: 50%;
}
.chart table{
    margin-top: 50px;
}
.bmi-form h4{
    font-size: 1.75rem;
    font-weight: 900;
    color: white;
}
.bmi-form p{
    margin-top: 15px;
}
.bmi-form p, td{
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
}
.calculator{
    width: 50%;
}
.calculator input{
    width: 40%;
    padding: 13px 20px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 12px;
    border: none;
}
#select{
    width: 92%;
}
.bmi-input-1{
    margin-top: 34px;
}
.bmi-input-1, .bmi-input-2{
    display: flex;
    justify-content: space-between;
}
.bmi-form button{
    background-color: rgba(230, 83, 60, 1);
    border: none;
    border-radius: 42px;
    padding: 16px 70px;
    color: white;
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 34px;
}

/* Meet our Team section style */
.meet-our-team{
    width: 75%;
    margin: 0 auto;
    margin-top: 100px;
}
.team-title-container{
    text-align: center;
}
.team-title-container h3{
    font-size: 3rem;
    font-weight: 900;
    color: white;
}
.team-title-container p{
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 14px;
}
.team-card-container{
    background-color: rgba(34, 34, 34, 1);
    border-radius: 18px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 20px;
    padding: 20px;
    align-items: center;
    margin-top: 58px;
}
.card-text{
    color: white;
    margin-top: 70%;
    margin-left: 5%;
}
.team-card-container h5{
    font-size: 1.25rem;
    font-weight: 900;
}
.team-card-container p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
}
.card1, .card2, .card3, .card4, .card5, .card6{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 18px;
    width: 100%;
    height: 272px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.card1{
    background-image:  url(../images/trainer1.png);
}
.card2{
    background-image: url(../images/trainer2.png);
}
.card3{
    background-image: url(../images/trainer3.png);
}
.card4{
    background-image: url(../images/trainer4.png);
}
.card5{
    background-image: url(../images/trainer5.png);
}
.card6{
    background-image: url(../images/trainer6.png);
}


/* Footer section styles */
.footer{
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 100px;
    /* padding: 0px 190px; */
}
.footer-container{
    margin: 0 auto;
    width: 75%;
}
.footer-texts{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.footer h3{
    color: rgba(230, 83, 60, 1);
    font-size: 4.375rem;
    font-weight: 800;
    font-style: italic;
    margin-top: 20%;
}
.footer-title p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    margin-top: 20px;
}
.get-started{
    margin: 70px 0px;
}
.get-started h4{
    color: white;
    font-size: 2rem;
    font-weight: 700;
}
.get-started ul{
    list-style: none;
}
.get-started li{
    margin-top: 20px;
}
/* pp */
.get-started a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.4375;
}
hr{
    border-color: rgba(255, 255, 255, 0.1);
}
.copyrights{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.25rem;
    padding: 35px 0px;
    text-align: center;
}


/* responsive for small devices */
@media screen and (max-width:576px) {
    /* Header section */
    .header{
        width: 100%;
        padding: 0px;
        padding-top: 50px;
    }
    .nav{
        display: none;
    }
    .menu-bar{
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .banner{
        flex-direction: column;
        justify-content: center;
    }
    .banner-title-container{
        width: 100%;
        margin-top: 50px;
    }
    .banner-button-container{
        width: 100%;
    }
    .banner-image-container{
        margin-top: 50px;
    }
    .banner-button-container button{
        padding: 16px 40px;

    }
    .box-1{
        right: 50%;
        top: 65%;
    }
    .box-2{
        left: 50%;
        top: 15%;
    }
    .banner-title{
        font-size: 4.875rem;
        font-weight: 900;
    }

    /* Habits section */
    .habits{
       margin: 0 auto;
       margin-top: 100px;
    }
    .habits-card-container{
        flex-direction: column;
        gap: 50px;
    }

    /* Run an Extra mile section */
    .run{
        flex-direction: column;
        margin: 0 auto;
        margin-top: 100px;
    }
    .run button{
        padding: 16px 170px;
    }
    .run-image-container{
        margin-top: 30px;
        width: 100%;
    }

    /* Articles and Tips section */
        .articles-and-tips{
        margin: 0 auto;
        margin-top: 100px;
    }
    .articles-card-container{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    

    /* BMI calculator section */
    .bmi-calculator{
        margin: 0 auto;
        margin-top: 100px;
        width: 100%;
    }
    .bmi-form{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;
    }
    .chart{
        width: 90%;
    }
    .calculator{
        margin-top: 50px;
        width: 90%;
    }

    /* Meet Our Team section */
    .team-card-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .team-card-container{
      position: relative;
    }
    .card-text{
        margin-top: 55%;
    }

    /* Footer section */
    .footer{
        margin: 0 auto;
        margin-top: 100px;
    }
    .footer-texts{
        flex-direction: column;
        text-align: justify;
    }
    .get-started{
        margin-top: 30px;
    }
    .footer-texts, hr, .copyrights{
        width: 100%;
    } 
}

@media screen and (min-width:577px) {
    .menu-bar{
        display: none;
    }
}